{% extends "layouts/base.html" %}

{% block title %}
Spaces
{% endblock %}

{% block content %}

<h1>My Spaces</h1>

<br>

<a href="/spaces/create">
    <button>Create Space</button>
</a>

<a href="/spaces/join">
    <button>Join Space</button>
</a>

<br><br>

<div id="spacesContainer"></div>

{% endblock %}

{% block js %}

<script src="{{ url_for('static', filename='js/api.js') }}"></script>
<script src="{{ url_for('static', filename='js/auth_guard.js') }}"></script>
<script src="{{ url_for('static', filename='js/spaces.js') }}"></script>

<script>

    verifyUser();
    loadSpaces();

</script>

{% endblock %}