<header class="navbar">

    <a href="{{ url_for('pages.home') }}" class="brand">

        <span class="brand-mark"></span>

        <span>everUS</span>

    </a>


    <nav class="nav-links">

        <a href="{{ url_for('pages.home') }}" class="active">
            Home
        </a>

        <a href="#features">
            Features
        </a>

        <a href="#how-it-works">
            How It Works
        </a>

        <a href="#privacy">
            Privacy
        </a>

    </nav>


    <div class="nav-actions">

        <a href="{{ url_for('pages.login') }}" class="login">
            Login
        </a>

        <a href="{{ url_for('pages.register') }}" class="primary-btn small">
            Get Started
        </a>

    </div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</header>